.filter-and-satellite-wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 1rem;
    margin: 2rem 0;
  }

  h2 {
    margin-top: 0;
  }

  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }